<section class="home-background">
    <article class="home-container">
        <h1 class="home-heading">{{title}}</h1>
        <a class="home-link" href="/movies">Check the movies!</a>
    </article>
</section>