<header>
  <h1>{{title}}</h1>
  <h2>Click on the movie to check the showtimes</h2>
  <a href="/">HOME</a>
</header>

<main>
  <ul>
    {{#each movieList}}
    <li>
      {{>movieImage this}}
      <h3>{{this.title}}</h3>
      <a href="/movie/{{this.id}}">See more</a>
    </li>
    {{/each}}
  </ul>
</main>